/* Login */
#login-wall{
  background: #06112d url("../images/wall.jpg") no-repeat center top fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#card-login{
  background: rgba(0,0,0,0.7);
  color: rgb(255, 255, 255);
}

#index-banner{
  padding-top: 4%;
}

#bem-vindo{
  font-family: 'Pacifico', cursive;
  color: #0e4d81;
}

.icon_color_login{
  color: rgb(29, 95, 136);
}

.cadastrar{
  font-size: 1.0em;
}

/* Cadastro */

.register-logo{
  color: #476db1;
  width: 100%;
  position: fixed !important;
  left: 74%;
  height: 150px;
  z-index: 1;
}

#register-wall{
    background: #eeeeee ;
}

#register-header{
  width: 100%;
  position: fixed !important;
  top: 0px;
  left: 0px;
  background: #004381;
  height: 150px;
}

.register-card{
  margin-top: 6.5%;
  padding-top: 6%;
}


@media screen and (max-width: 600px) {
  .register-logo {top: 2px;}
}

@media screen and (min-width: 600px) {
  .register-logo {top: 22px;}
  #area-buttons{padding-top: 30%;}
}

@media screen and (min-width: 1200px) {
  .register-logo {top: 40px;}
  #area-buttons{padding-top: 22%;}
}
