#login-wall{
  background: #06112d url("../images/wall.jpg") no-repeat center top fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index-banner{
  padding-top: 4%;
}

#bem-vindo{
  font-family: 'Pacifico', cursive;
  color: #0e4d81;
}

.icon_color_login{
  color: rgb(29, 95, 136);
}

.teste{
  width: 200px;
  height: 220px;
  background-color: rgb(237, 89, 56);
}
@media screen and (min-width: 992px) {
  .teste {background-color: rgb(7, 63, 106);}
}

.cadastrar{
  font-size: 1.0em;
}
